# **Python – Practical Exercises**
##*Notebook 04 – Python Sets*

###Description
This notebook explores Python sets as an unordered data structure designed to store unique elements. I will focus on understanding set behavior, common operations, and real use cases where sets provide efficient and clean solutions

---

### Learning Objectives
- Understand what sets are and how they differ from lists and tuples
- Create and manipulate sets in Python
- Apply basic set operations such as union, intersection, and difference

---

###Short Contextualization
Unlike lists, sets do not preserve order and automatically remove duplicates, making them especially useful for data cleaning, comparisons, and membership testing

This notebook focuses on applying these concepts through hands-on exercises to build a solid and practical understanding of sets

# Sets in Python


## 01 Exercise: Converting a list to a set

Problem: Transform the list ["rap", "house", "electronic music", "rap"] into a set

In [1]:
music_list = ["rap", "house", "electronic music", "rap"] #with sets we automatically remove duplicate values
music_set = set(music_list)#by converting the list into a set the repeated value "rap" is removed
music_set

{'electronic music', 'house', 'rap'}

This makes them ideal when the goal is to keep only unique elements from a collection

## 02 Exercise: Comparing the sum of a list and a set

Probem: Given the list A = [1, 2, 2, 1] and the set B = set([1, 2, 2, 1]), calculate sum(A) and sum(B)

In [2]:
A = [1, 2, 2, 1] #lists allow duplicate values
B = set(A) #while sets store only unique elements

print(sum(A)) #when summing both structures, duplicates in the list affect the result
print(sum(B))# while the set eliminates them before the operation

6
3

This highlights how data structure choice directly impacts computations

## 03 Exercise: Union of two sets

Problem: Create a new set album_set3 that is the union of album_set1 and album_set2

In [5]:
album_set1 = set(["Thriller", 'AC/DC', 'Back in Black'])
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])

album_set3 = album_set1.union(album_set2) # this operation combines all unique elements from both sets into a single set
album_set3 # automatically removing duplicates

{'AC/DC', 'Back in Black', 'The Dark Side of the Moon', 'Thriller'}

This is commonly used when merging datasets while preserving uniqueness

## 04 Exercise: Subset verification

Problem: check whether album_set1 is a subset of album_set3

In [6]:
# its important to know that a set is considered a subset if all of its elements are contained within another set
album_set1.issubset(album_set3) #this method returns a boolean value

True



---
**Closing**

This notebook reinforces the essential use of Python sets through focused, practical exercises. By applying operations like deduplication, unions, comparisons, and subset validation, it builds a solid foundation for efficient data handling in real-world scenarios

## Author

**Mariana Rodríguez**  
Data Science Student (5th Semester) – Pontificia Universidad Javeriana  
Repository created for academic purposes and continuous learning.